{
  "parser": "babel-eslint",
  "extends": "eslint-config-egg",
  "ecmaFeatures": {
  },
  "plugins": [
  ],
  "rules": {
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}